---
- name: 'add pgadmin APT repository'
  become: true
  ansible.builtin.deb822_repository:
    name: pgadmin
    uris: "https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/{{ ansible_facts['distribution_release'] }}"
    signed_by: 'https://www.pgadmin.org/static/packages_pgadmin_org.pub'
    suites: pgadmin4
    components: main
  notify: update apt cache

- name: 'flush handlers'
  ansible.builtin.meta: flush_handlers

- name: 'Install PgAdmin'
  become: true
  ansible.builtin.package:
    state: latest
    name: 'pgadmin4-desktop'
