<?xml version="1.0"?>
<Xiphos Version="4.4.0">
  <ranges>
    <range label="Old Testament" list="Gen - Mal"/>
    <range label="New Testament" list="Mat - Rev"/>
  </ranges>
  <modlists>
    <modlist label="Sample Module List" list="-ReplaceMe-"/>
  </modlists>
  <editor>
    <spell_language>unknown</spell_language>
  </editor>
  <locale>
    <special/>
  <special>System Default</special><special>System Default</special><special>System Default</special><special>System Default</special><special>System Default</special></locale>
  <modmgr>
    <mod_mgr_source>1</mod_mgr_source>
    <mod_mgr_destination>0</mod_mgr_destination>
    <mod_mgr_local_source_index>0</mod_mgr_local_source_index>
    <mod_mgr_remote_source_index>0</mod_mgr_remote_source_index>
  </modmgr>
  <fontsize>
    <versenum>-1</versenum>
    <basefontsize>+0</basefontsize>
  </fontsize>
  <HTMLcolors>
    <background>#000000</background>
    <text_fg>#FFFFFF</text_fg>
    <versenum>#0000CF</versenum>
    <currentverse>#009000</currentverse>
    <link>#878787</link>
    <found>#D02898</found>
    <highlight_fg>#FFFF00</highlight_fg>
    <highlight_bg>#060680</highlight_bg>
  </HTMLcolors>
  <parallel>
    <parallel>1</parallel>
    <cantillation>0</cantillation>
    <points>0</points>
    <footnotes>0</footnotes>
    <morphs>0</morphs>
    <strongs>0</strongs>
  <Strong_s_Numbers>0</Strong_s_Numbers><Morphological_Tags>0</Morphological_Tags><Hebrew_Vowel_Points>1</Hebrew_Vowel_Points><Hebrew_Cantillation>0</Hebrew_Cantillation><Footnotes>1</Footnotes><Cross-references>1</Cross-references><Transliteration>0</Transliteration><Words_of_Christ_in_Red>1</Words_of_Christ_in_Red><Morpheme_Segmentation>0</Morpheme_Segmentation><Headings>1</Headings><Italic_Headings>0</Italic_Headings><Lemmas>0</Lemmas><Primary_Reading>1</Primary_Reading><Secondary_Reading>0</Secondary_Reading><All_Readings>0</All_Readings><Greek_Accents>1</Greek_Accents><Transliterated_Forms>0</Transliterated_Forms><Enumerations>0</Enumerations><Glosses>0</Glosses></parallel>
  <book>
    <module/>
    <key/>
    <offset>0</offset>
  </book>
  <keys>
    <book>0</book>
    <dictionary>LOVE</dictionary>
    <verse>Matt 7:16</verse>
  <offset/><offset/><offset/><offset/><offset></offset></keys>
  <layout>
    <maximized>1</maximized>
    <height>1102</height>
    <width>2024</width>
    <app_x>0</app_x>
    <app_y>0</app_y>
    <parallelopen>0</parallelopen>
    <parallel_height>361</parallel_height>
    <parallel_width>657</parallel_width>
    <parallel_x>40</parallel_x>
    <parallel_y>40</parallel_y>
    <modmgropen>0</modmgropen>
    <modmgr_height>542</modmgr_height>
    <modmgr_width>1005</modmgr_width>
    <modmgr_x>0</modmgr_x>
    <modmgr_y>0</modmgr_y>
    <advsearchopen>0</advsearchopen>
    <advsearch_height>465</advsearch_height>
    <advsearch_width>665</advsearch_width>
    <advsearch_x>40</advsearch_x>
    <advsearch_y>40</advsearch_y>
    <prefsopen>0</prefsopen>
    <prefs_height>1152</prefs_height>
    <prefs_width>2048</prefs_width>
    <prefs_x>0</prefs_x>
    <prefs_y>0</prefs_y>
    <textpane>1023</textpane>
    <shortcutbar>300</shortcutbar>
    <uperpane>210</uperpane>
    <vltoppaneheight>210</vltoppaneheight>
    <sidebar_notebook_height>759</sidebar_notebook_height>
    <bibleheight>250</bibleheight>
    <commentaryheight>241</commentaryheight>
  </layout>
  <lexicons>
    <indictpane>1</indictpane>
    <inviewer>0</inviewer>
    <usedefaultdict>0</usedefaultdict>
    <defaultdictionary>WebstersDict</defaultdictionary>
    <greek>StrongsGreek</greek>
    <hebrew>StrongsHebrew</hebrew>
  <greek_morph_ot>Packard</greek_morph_ot><greek_morph_nt>Robinson</greek_morph_nt><hebrew_morph>OSHM</hebrew_morph></lexicons>
  <osisrefmarkedverses/>
  <misc>
    <dailydevotional>0</dailydevotional>
    <splash>1</splash>
    <usedefault>1</usedefault>
    <formatpercom>1</formatpercom>
    <showcomms>1</showcomms>
    <showdicts>1</showdicts>
    <showtexts>1</showtexts>
    <versestyle>1</versestyle>
    <pinnedtabs>0</pinnedtabs>
    <showversenum>1</showversenum>
    <imageresize>1</imageresize>
    <verse_num_bold>0</verse_num_bold>
    <verse_num_bracket>0</verse_num_bracket>
    <verse_num_superscript>0</verse_num_superscript>
    <readaloud>0</readaloud>
    <versehighlight>0</versehighlight>
    <annotatehighlight>1</annotatehighlight>
    <xrefsinverselist>1</xrefsinverselist>
    <prayerlist>1</prayerlist>
    <statusbar>1</statusbar>
    <alternation>1</alternation>
    <displaycolumns>1</displaycolumns>
    <justifymargins>1</justifymargins>
  <showpreview>1</showpreview><show_side_preview>1</show_side_preview><showparatab>0</showparatab><chapter-scroll>0</chapter-scroll><show_sidebar>1</show_sidebar><sidebar_docked>1</sidebar_docked></misc>
  <modules>
    <book/>
    <comm/>
    <devotional/>
    <dict/>
    <parallels/>
    <bible/>
    <percomm/>
  </modules>
  <shortcutbar>
    <shortcutbar>1</shortcutbar>
    <docked>1</docked>
  </shortcutbar>
  <studypad>
    <directory>/home/cwhite</directory>
    <lastfile/>
  </studypad>
  <tabs>
    <browsing>1</browsing>
  </tabs>
<locale/><locale/><locale/><locale/><locale/></Xiphos>
