---
- name: 'add git APT repository'
  become: true
  ansible.builtin.deb822_repository:
    name: git
    uris: https://ppa.launchpadcontent.net/git-core/ppa/ubuntu
    signed_by: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xf911ab184317630c59970973e363c90f8f1b6217
    suites: "{{ ansible_facts['distribution_release'] }}"
    components: main
  notify: update apt cache

- name: 'flush handlers'
  ansible.builtin.meta: flush_handlers

- name: install git
  become: true
  ansible.builtin.package:
    state: latest
    name:
      - git
      - git-email

- name: install perl deps for git-email
  become: true
  community.general.cpanm:
    name: '{{ item }}'
  loop:
    - MIME::Base64
    - MIME::QuotedPrint
    - Net::Domain
    - Net::SMTP
    - Authen::SASL
    - Mail::Address
    - Net::SMTP::SSL

- name: 'Install python packages'
  shell: 'uv tool install --upgrade {{ item }}'
  loop:
    - git-delete-merged-branches
    - b4

- name: 'Install cargo packages'
  community.general.cargo:
    name: '{{ item }}'
    state: latest
  loop:
    - git-delta
    - git-absorb
