---
- import_tasks: jj.yml
- import_tasks: git.yml
- import_tasks: gh.yml
- import_tasks: glab.yml
- import_tasks: bat.yml
- import_tasks: email.yml
- import_tasks: fzf.yml
- import_tasks: lazygit.yml
- import_tasks: presenterm.yml
- import_tasks: tuitube.yml

- name: 'Install cli tools'
  become: true
  ansible.builtin.package:
    state: latest
    name:
      - btop
      - neofetch

- name: 'Install cli tools via cargo'
  community.general.cargo:
    name: '{{ item }}'
    state: latest
  loop:
    - fd-find
    - ripgrep
    - zoxide
    - atuin
