---
- name: 'update apt cache'
  become: true
  apt:
    cache_valid_time: 3600

- name: 'install dependencies'
  become: true
  ansible.builtin.package:
    state: latest
    name:
      - acl # operations involving ansible become_user
      - apt-transport-https
      - autoconf
      - automake
      - build-essential
      - ca-certificates
      - cmake
      - curl
      - default-jdk
      - default-jre
      - doxygen
      - g++
      - gcc
      - gettext
      - gnupg
      - libjansson-dev
      - libseccomp-dev
      - libssl-dev
      - libtool
      - libtool-bin
      - libxml2-dev
      - libyaml-dev
      - lsb-release
      - luarocks
      - ninja-build
      - pkg-config
      - software-properties-common # apt-add-repository commands
      - unzip
      - wl-clipboard # Wayland clipboard support
      # webp support
      - webp
      - webp-pixbuf-loader

- name: 'ensure bash completion dir exists'
  ansible.builtin.file:
    path: "{{ dir_user_completions }}"
    state: directory
    mode: '0755'
