---
- hosts: local
  roles:
    - configure/evoluent-verticalmouse
    - configure/nopasswd-sudo
    - software/_deps
    - languages/python
    - languages/php
    - languages/rust
    - languages/go
    - languages/perl
    - languages/nodejs
    - software/shell
    - software/brave-browser
    - software/cli-tools
    - software/docker
    - software/neovim
    - software/nerd_fonts
    - software/pgadmin
    - software/porter
    - software/supervisor
    - software/tableplus
    - software/tree-sitter
    - software/wezterm
    - software/yubikey
    - role: configure/system76-power
      when: "ansible_system_vendor == 'System76'"
