[Desktop Entry]
Name=TablePlus
Type=Application
Exec=/usr/local/bin/tableplus
Icon=/opt/tableplus/resource/image/logo.png
Categories=Development
Terminal=false
