---
- name: Install hyprwhspr
  vars:
    install_dir: '{{ dir_sources }}/hyprwhspr'
  block:
    - name: Install hyprwhspr dependencies
      become: true
      ansible.builtin.package:
        state: latest
        name:
          - python3
          - python3-pip
          - python3-venv
          - python3-dev
          - python3-numpy
          - python3-scipy
          - python3-evdev
          - python3-pyperclip
          - python3-requests
          - python3-psutil
          - python3-rich
          - python3-gi
          - gir1.2-gtk-4.0
          - git
          - cmake
          - make
          - build-essential
          - pipewire
          - pipewire-pulse

    - name: Clone hyprwhspr
      git:
        repo: https://github.com/goodroot/hyprwhspr.git
        dest: '{{ install_dir }}'
        clone: true
        update: true
        force: true
      register: clone

    - name: Run automated hyprwhspr setup
      command: '{{ install_dir }}/bin/hyprwhspr setup auto --backend onnx-asr'
      register: setup_result
      changed_when: setup_result.rc == 0
      when: clone.changed
