---
- name: 'install Docker'
  include_role:
    name: geerlingguy.docker
    apply:
      become: true
      vars:
        docker_users: '{{ ansible_env.USER }}'
        docker_package_state: latest # default is present

- name: 'install Docker Python library'
  become: true
  ansible.builtin.package:
    name: python3-docker
    state: latest
